= back_link

= simple_form_for @form, url: request.fullpath do |f|
  %fieldset
    %legend.question
      %h1= @question.title

    .answers
      = f.input :answer, collection: @question.answers_for_collection, as: :radio_buttons, label: false
      = f.button :submit, class: 'button'
