= back_link

= simple_form_for @form, as: :describe_repair_form, url: request.fullpath do |f|
  %fieldset
    %legend.question
      = render partial: @partial

    .answers
      = f.input :description, as: :text
      = f.button :submit, class: 'button'
