= back_link

= simple_form_for @describe_repair.form, as: :describe_repair_form, url: request.fullpath do |f|
  %fieldset
    %legend.question
      = render partial: @describe_repair.partial

    .answers
      = f.input :description, as: :text, input_html: { maxlength: 500 }
      = f.button :submit, class: 'button'
