- if @address_search.errors
  = @address_search.errors.full_messages.join(', ')

%p
  = @address_search.postcode
  = link_to t('address_search.change'), new_address_search_path

- if @address_search_results
  #address-search-results
    - if @address_search_results.any?
      = simple_form_for @address, url: address_path do |f|
        = f.collection_radio_buttons :property_reference, @address_search_results, :property_reference, :short_address
        = f.button :submit
    - else
      = t('address_search.not_found')

