%h1
  What is your address?

- if @address_search.errors
  = @address_search.errors.full_messages.join(', ')

%p.form-label
  Postcode
  %br/
  %strong
    = @address_search.postcode.upcase
  = link_to t('address_search.change'), address_search_path

- if @address_search_results
  #address-search-results
    = simple_form_for @form, url: address_path do |f|
      = f.hidden_field :postcode, value: @address_search.postcode

      - if @address_search_results.any?
        %fieldset
          = f.input :property_reference,
            as: :radio_buttons,
            collection: @address_search_results,
            label_method: :short_address,
            value_method: :property_reference,
            required: true

          = f.input :property_reference,
            as: :radio_buttons,
            collection: [:address_isnt_here],
            label: false,
            include_hidden: false,
            error: false

      - else
        = f.hidden_field :property_reference, value: :address_isnt_here

        %p= t('address_search.not_found')

      = f.button :submit, class: 'button'

%p= @back.link
