= simple_form_for @address_search, url: address_search_path, method: :get do |f|
  = f.input :postcode
  = f.button :submit

= simple_form_for @address, method: :put do |f|
  #address-search-results
    = f.collection_radio_buttons :address, @address_search_results, :first, :last
    = f.button :submit
