= simple_form_for @form, url: request.fullpath do |f|
  %fieldset
    %legend.question
      %h1= t('contact-details.title')

      %p Who should we contact about this repair?

    .answers
      = f.input :full_name
      = f.input :telephone_number
      = f.button :submit

%p= @back.link
