%p
  %strong
    Call us on:
    = succeed ',' do
      = repairs_contact_centre_telephone_number
%p
  However, if your emergency relates to gas, electricity or water
  supply, you should phone:

%ul
  %li
    National Grid (Gas):
    = gas_emergency_telephone_number
  %li
    UK Power Networks:
    = electricity_emergency_telephone_number
  %li
    Thames Water:
    = water_emergency_telephone_number
