= back_link

%h1
  Checking the fuse box

%p
  If your light isn't working and you've already tried changing the
  light bulb, it may be that the lighting trip switch in your fuse
  box has activated and is in the ‘OFF’ position.
  Please check your fuse box and make sure the lighting trip
  switch is in the 'ON' position.

%p
  If it doesn't reset, select continue to book an appointment.

%p
  If the trip switch does reset, check the light by pressing
  the light switch again. If the light is still not working,
  select continue to book an appointment.

%p
  The fuse box is usually near your electric meter or in
  the hallway. If you need help finding your fuse box,
  please call us on
  = succeed '.' do
    = repairs_contact_centre_telephone_number

%h2
  Electrical safety

%p
  %strong
    You should always be extremely careful with any faulty or
    exposed electrics in your home and make sure no one else
    in the house is in danger from them.

%p
  If you are uncertain or have any immediate concerns about
  an electrical repair issue in your home, please call us
  for guidance on
  = succeed '.' do
    = repairs_contact_centre_telephone_number

%p
  If you would like to book an appointment for your
  electrical repair, please select continue.

%p= link_to 'Continue', questions_path('light_check_bulb'), class: 'button'
