= back_link

%h1
  What to do if you have no electricity

%br/

%h2
  First please check your fuse box and electricity meter

%h3
  How to check your fuse box

%p
  The fuse box is usually near your electric meter or in
  the hallway.

%p
  Turn off the main switch and then turn off all of the individual switches.

%p
  If one of the switches automatically turns off again that normally means
  there’s a problem in a certain area of your property. To get the power back on
  you'll need to unplug the appliance and then turn the switches on again.
  If that doesn't work please call us on
  = succeed '.' do
    %strong= repairs_contact_centre_telephone_number
    = t('rcc_opening_hours')

%h3
  How to check your electricity meter

%p
  Your electricity meter might be located in a cupboard or outside on a wall.

%p
  Check if you have credit on your prepayment meter as you might need to add
  more credit.

%p
  Check if your electricity meter is showing lights, movement or display as this
  indicates that there is no power coming into the property.


%h2
  If you checked your fuse box and electricity meter and still have no electricity

%p
  Please call UK Power Networks to report a power cut
  = succeed '.' do
    %strong= electricity_emergency_telephone_number

%h2
  Electrical safety

%p
  %strong
    You should always be extremely careful with any faulty or
    exposed electrics in your home and make sure no one else
    in the house is in danger from them.

%p
  If you are uncertain or have any immediate concerns about
  an electrical repair issue in your home, please call us
  for guidance on
  = succeed '.' do
    %strong= repairs_contact_centre_telephone_number
    = t('rcc_opening_hours')
