= back_link

%h1
  Smoke detector beeping

%p
  If your smoke detector or fire alarm is beeping please call
  us. This will allow us to review
  the problem as a priority and schedule a suitable
  appointment to help resolve the issue quickly.

%p
  %strong
    Call us on:
    = succeed ',' do
      = repairs_contact_centre_telephone_number
    = succeed '.' do
      = t('rcc_opening_hours')
