%h1
  Report a repair

%p.lede
  We provide housing repairs for council tenants through this online service.

%p
  You can use this service to:

%ul
  %li
    report non-emergency repairs for your home
  %li
    choose a date and time for us to carry out the repair

%p
  Reporting a single repair should take less than 5 minutes.

%p.notice
  %i.icon.icon-important
    %span.visually-hidden
      Important

  %strong
    If you can smell gas, please call the gas emergency number on:
    %br/
    = gas_emergency_telephone_number

%p
  %a.button.button-start{ href: '/questions/start/' } Start

%h2
  Emergency and urgent repairs

%p
  If your repair is an emergency, please call us on
  = succeed '.' do
    = repairs_contact_centre_telephone_number

%p
  We're open
  = succeed '.' do
    = t('rcc_opening_hours')

%h2
  Communal repairs

%p
  If you need to report a repair within a communal area
  such as lift, entry doors and lighting,
  %br/
  please call us on
  = succeed '.' do
    = repairs_contact_centre_telephone_number

%h2
  Home improvements

%p
  Please note that you're responsible for repairs to
  any home improvements you've carried out yourself.

%h2
  Tenant Management Organisation (TMO)

%p
  If your home is managed by a Tenant Management
  Organisation, please contact them first for
  help with repairs.
