%p
  Your appointment has been booked for
  %strong
    = appointment.date
  between
  %strong
    = succeed '.' do
      = appointment.time

= link_to "Report another repair", questions_start_path(keep_address: true), class: 'button'

%p
  If you need to change your appointment or have any questions,
  please call us on
  = repairs_contact_centre_telephone_number
  and quote your reference no
  = succeed '.' do
    = @confirmation.request_reference
  We're open Monday to Friday, 8am to midnight
  and Saturday, 9am to 1pm.
