%p
  We will call you within one working day, between
  %strong= callback.time
  to arrange a repair appointment.

%p
  %strong
    If you have any questions, please call us on
    = repairs_contact_centre_telephone_number
  and quote your reference number
  = succeed "." do
    %strong= callback.request_reference
  We're open
  = succeed '.' do
    = t('rcc_opening_hours')
