.grid-row
  %section#confirmation.column-two-thirds
    %h1
      Thank you
      = @confirmation.full_name

    %p
      Your repair request has been successfully submitted.

    .box-highlight.lede
      Your reference number is
      = succeed "." do
        %strong= @confirmation.request_reference

    %p
      We will call you within one working day, between
      %strong= @confirmation.callback_time
      to arrange a repair appointment.

    %p
      %strong
        If you have any questions, please call us on
        %span{:itemprop => "telephone"}
          = link_to "020 8356 3691", "tel:+02083563691"
      and quote your reference number
      = succeed "." do
        %strong= @confirmation.request_reference
      We are open Monday to Friday 8am - 7pm and Saturdays 9am - 1pm.

.grid-row
  %section#summary.column-two-thirds
    %h2 Summary

    %h3 Problem
    %p= t('confirmation.summary.description', description: @confirmation.description)

    %h3 Your details
    %p= t('confirmation.summary.name', name: @confirmation.full_name)
    %p= t('confirmation.summary.phone', phone: @confirmation.telephone_number)
    %p= t('confirmation.summary.address', address: @confirmation.address)

    %h3 Callback time
    %p= t('confirmation.summary.callback_time', callback_time: @confirmation.callback_time)

