= simple_form_for @form, url: request.fullpath do |f|
  %fieldset
    %legend.question
      %h1
        Please choose a date and time that suits you

    .answers
      = f.input :appointment_id,
        collection: @appointments,
        value_method: :appointment_id,
        label_method: :description,
        as: :radio_buttons,
        label: false

      %p
        If you can't make any of these appointments, please call us on
        = repairs_contact_centre_telephone_number
        and quote reference number
        = succeed '.' do
          = @work_order_reference

      = f.button :submit, class: 'button'
