!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title
      = t('title')

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }/
    %meta{ 'http-equiv': 'x-ua-compatible', content: 'ie-edge' }/
    %meta{ name: 'format-detection', content: 'telephone=no' }/

    = csrf_meta_tags
    %link{ href: 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel: 'stylesheet' }/
    = javascript_include_tag 'application'

    = render partial: 'analytics/google'
    = render partial: 'analytics/hotjar'

    /[if lt IE 9]
      = javascript_include_tag 'html5shiv'
      = stylesheet_link_tag 'application-ie8', media: 'all'
    /[if gt IE 8]
      = stylesheet_link_tag 'application', media: 'all'

    :plain
      <!--[if !IE]><!-->
    = stylesheet_link_tag 'application', media: 'all'
    :plain
      <!-- <![endif]-->

  %body
    %header
      .wrapper
        %a{ href: '/' }
          %h1
            Hackney
          %h2
            = t('title')

    %main
      #content{ role: 'main' }
        - flash.each do |key, value|
          = content_tag :div, value, class: "flash flash-#{key}"
        = yield

    %footer
      .wrapper
        %ul{ role: 'contentinfo' }
          %li
            %a{ href: 'https://www.hackney.gov.uk/accessibility-help' } Accessibility
            %a{ href: 'https://www.hackney.gov.uk/apps' } Apps
            %a{ href: 'https://www.hackney.gov.uk/a-to-z' } A to Z
            %a{ href: 'https://www.hackney.gov.uk/contact' } Contact us
            %a{ href: 'https://www.hackney.gov.uk/email-alerts' } Email alerts
            %a{ href: 'https://www.hackney.gov.uk/help' } Help
            %a{ href: 'https://www.hackney.gov.uk/News' } News
            %a{ href: 'https://www.hackney.gov.uk/privacy' } Privacy statement
            %a{ href: 'https://www.hackney.gov.uk/disclaimer' } Terms and conditions

        %ul.social
          %li
            %a.social-twitter{ href: 'https://www.twitter.com/hackneycouncil' } Twitter
            %a.social-facebook{ href: 'https://www.facebook.com/hackneycouncil' } Facebook
            %a.social-youtube{ href: 'https://www.youtube.com/hackneycouncil' } YouTube
            %a.social-instagram{ href: 'https://www.instagram.com/hackneycouncil' } Instagram
